<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
  <meta charset="UTF-8">
  <title>Create company</title>
</head>
<body>
<form action="#" th:action="@{/company-create}" th:object="${company}" method="post">
  <label for="name">Name</label>
  <input type="text" th:field="*{name}" id="Name" placeholder="Name">
  <br/>
  <label for="location">Location</label>
  <input type="text" th:field="*{location}" id="location" placeholder="Location">
  <br/>
  <label for="specialization">Specialization</label>
  <input type="text" th:field="*{specialization}" id="Specialization" placeholder="Specialization">
  <br/>
  <label for="income_per_year">Income_per_year</label>
  <input type="text" th:field="*{income_per_year}" id="Income_per_year" placeholder="Income_per_year">
  <br/>
  <input type="submit" value="Create company">
</form>
</body>
</html>